html,
body {
  min-width: 1122px;
  margin: 0;
  padding: 0;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	background: url(../img/bkground.jpg) repeat;
}

.breadcrumbs .active {
	color: #aba9a7;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	background-color: #000000;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	padding: 15px 20px;
	text-align: center;
	margin-bottom: 15px;
}

.breadcrumbs {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.breadcrumbs a {
	margin-right: 40px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 60px;
	background-color: #000000;
	min-height: 65px;
}

.main-navigation {
  float: left;
  width: 640px;
  min-height: 70px;
}

.main-navigation li {
	display: inline-block;
	margin-right: 40px;
}

.main-navigation a {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
}

.user-block {
  float: right;
  width: 140px;
  min-height: 70px;
}

.user-block a {
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}

.login {
	background: url(../img/enter.png) no-repeat left center;
	width: 18px;
	padding-left: 25px;
}

.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.logo {
	float: left;
	margin-top: 15px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
}

.features-item:last-child {
  margin-right: 0;
}

h1 {
	margin-top: 55px;
	font-size: 30px;
	text-transform: uppercase;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.group label {
	display: inline-block;
	width: 190px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;
  min-height: 330px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
//	min-height: 185px;
	background-color: #232323;
	color: #ffffff;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-contacts a {
	color: #ffffff;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}

.footer-copyright a {
	text-decoration: none;
}

.group {
	float: left;
	width: 220px;
}

.item {
	float: left;
	width: 720px;
	padding-left: 10px;
}

.item-price {
	display: inline-block;
	vertical-align: middle;
	background-color: #e5e5e5;
	width: 110px;
	padding: 15px 0;
	text-align: center;
	margin-bottom: 15px;
	margin-left: 15px;
}

.price {
	display: inline-block;
	vertical-align: middle;
	background-color: #e5e5e5;
	width: 110px;
	padding: 15px 0;
	text-align: center;
}

.item-show {
	float: left;
	width: 220px;
	min-height: 280px;
	margin-right: 20px;
	box-shadow: 0 0 35px #e5e5e5;
	background-color: #ffffff;
}

.name {
	display: block;
	vertical-align: middle;
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	padding-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.name span {
	text-transform: uppercase;
}

.item .article:nth-child(3n) {
	margin-right: 0;
}

.item-btn {
	float: left;
	width: 80px;
	margin-bottom: 70px;
	margin-right: 150px;
}

a.item-btn {
	text-decoration: none;
	font-size: 14px;
}

.pagination {
	float: left;
	width: 190px;
	margin-top: 40px;
}

.pagination a {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
  background: #000000;
}

a.pagination-current {
	background: #ffffff;
	color: #000000;
}

.photo {
	float: left;
	width: 460px;
}

.photo-small {
	float: left;
	margin-right: 20px;
	margin-top: 20px;
}

.photo-small:last-child {
	margin-right: 0;
}

.description {
	float: right;
	width: 390px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	margin-top: 25px;
}

.description p {
	margin-top: 40px;
	margin-bottom: 40px;
}

.present {
	float: left;
	width: 180px;
}

.articul {
	float: right;
	width: 200px;
	text-align: right;
	color: #aeaeae;
}